* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
}

.choice:hover {
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 2rem;
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}


#resetBtn {
    height: 50px;
    width: 100px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    background-color: #081b31;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}
